.sell-details {
  margin: 2%;
  font-size: large;
}

.sell-container {
  padding-bottom: 2%;
}

.sell-user-login-request-header {
  padding-bottom: 2%;
  font-size: medium;
}

.sell-user-login-request-link-div {
  padding: 3%;
}

.sell-user-login-request-link {
  text-decoration: none;
  font-size: medium;
}

.sell-user-login-request-link:hover {
  text-decoration: none;
}

.sell-user-login-request {
  background-color: rgba(95, 94, 94, 0.123);
  border-radius: 2.5%;
  width: 80%;
  padding: 2%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.sell-error-message-required-field-missing {
  color: red;
  text-align: center;
}

.warn {
  color: rgb(219, 88, 99);
}

.sell-flex-div{
  display: flex;
}

.sell-message{
color: green;
}

.sell-recommended-price{
  font-weight: 600;
}

.sell-calculate-recommend-price{
  width: 20%;
  padding-left: 2%;
}

.modal-btn-close {
  color: white;
  text-decoration: none;
}

.modal-btn-close:hover {
  color: white;
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  cursor: pointer;
}

.selling_category {
  padding: 0;
  margin: 0;
  height: 1000px;
}

.sell-label {
  padding-top: 1%;
}

.sell-dropdown {
  width: 80%;
  size: 40px;
}

.sell-radiobutton {
  margin: 1.5%;
}

.sell-row {
  padding-bottom: 2%;
  font-size: large;
}

.sell-row-image {
  height: 120%;
}

.sell-dropdown-field {
  width: 40%;
}

.sell-name-field {
  width: 60%;
}

.sell-description-field {
  width: 90%;
}

.sell-numericfield {
  width: 20%;
}

.sell-date-picket-field {
  width: 20%;
}

.sell-pininput-field {
  width: 20%;
  padding-left: 1%;
}

.sell-submitbutton {
  padding-left: 1%;
}

.sell-submitreset {
  margin-left: 40%;
}

.sell-resetbutton {
  float: left;
}

.sell-addVaccine {
  margin-bottom: 2%;
}

.sell-imagepreview {
  width: 20%;
  padding: 1%;
}

.div-image-preview {
  background-color: rgb(238, 235, 235);
  min-height: 150px;
}

.sell-row-address {
  height: 10rem;
}
/* 
.sell-pininput {
  width: 1%;
} */

.sell-address-input-div {
  display: flex;
  padding-top: 0.5rem;
}
.sell-address-input-text {
  padding-left: 1rem;
}

.form {
  width: 700px;
  height: 1000px;
  margin-left: 32%;
  padding: 4rem;
  margin-top: 25px;
}
.field select {
  position: relative;
  width: 300px;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 10px;
  height: 50px;
  font-size: larger;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 960px) {
  .sell-dropdown {
    width: 160%;
  }

  .sell-dropdown-field {
    padding-bottom: 2%;
    padding-left: 5%;
  }

  .sell-name-field,
  .sell-description-field,
  .sell-radio-button {
    width: 90%;
    padding-bottom: 2%;
    padding-left: 5%;
  }

  .sell-numericfield,
  .sell-date-picket-field {
    width: 45%;
    padding-bottom: 2%;
    padding-left: 10%;
  }
}
