.Site-detail-career {
  width: 100%;
  height: 500px;
  align-content: center;
  background-image: url("./images/Kangayam_BUll.jpg");
  background-size: 100%;
}

.Site-detail-support {
  width: 100%;
  height: 600px;
  align-content: center;
  padding: 2%;
}

.site-detail-support-card{
  margin-top: 5%;
}

.Site-detail-career p {
  font-size: xx-large;
  margin-left: 10%;
  padding-top: 5%;
  color: green;
}

.Site-detail-career a {
  font-size: xx-large;
  margin-left: 10%;
  padding-top: 5%;
  text-decoration: none;
}

.About-us {
  width: 95%;
  font-size: medium;
  margin: 3%;
}

.About-us p {
  color: grey;
}

.starting-para {
  text-indent: 3%;
}

.About-us .para-title {
  font-size: larger;
  color: black;
  font-family: Verdana;
}

.support-contact{
  padding-left: 2%;
  text-decoration: none;
  color: darkgreen;
}

.support-contact:hover{
  text-decoration: none;
  color: chocolate;
}

.workflow-img-div{
  height: 200;
  padding-left: 5%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 5%;
}

.workflow-landscape-img{
  display: block;
}

.workflow-portait-img{
 display: none;
}

.workflow-heading{
font-size: large;
font-weight: 600;
}

.terms-download-div{
  padding-top: 2%;
  padding-left: 7%;
}

.terms-download-link{
  text-decoration: none;
  font-size: x-large;
  font-weight: 600;
}

.terms-view-div{
  display: block;
  padding-block: 1%;
  padding-inline: 23%;
}

.terms-view-page-detal{
  padding-top: 1%;
  padding-left: 40%;
}

.terms-mobile-view-div{
  display: none;
}

.privacy-policy-div{
  padding: 3%;
  text-align: justify;
}


@media screen and (max-width: 630px) {
  .workflow-landscape-img{
    display: none;
  }
  
  .workflow-portait-img{    
   display: block;
   padding-top: 5%;
  }

  .terms-view-div{
    display: none;
  }

  .terms-download-div{
    padding: 30%;
  }

  .terms-mobile-view-div{
    display: none;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: -4%;
  }
}