.profile-container {
  width: 60%;
  /* margin-inline: 10%; */
  margin-block: 2%;
}

.title-div {
  padding-left: 7%;
  font-size: xx-large;
  font-weight: 600;
}

.profile-readonly {
  width: 80%;
  padding-left: 25%;
  padding-top: 2%;
  font-size: large;
}

.profile-img {
  max-width: 100%;
  height: 100px;
  border-radius: 5%;
}

.profile-img-div {
  background-color: white;
  width: 150px;
  height: 120px;
  text-align: center;
  padding: 15px;
  padding-left: 20px;
  border: 3px;
  display: flex;
}

.profile-edit-img {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  right: 40%;
  padding-left: 0.5%;
  padding-top: 0.8%;
  background-color: green;
  color: white;
}

.profile-edit-img a {
  text-decoration: none;
  color: white;
}

.profile-img-edit-link {
  display: flex;
}

.profile-image-row {
  background-color: rgb(238, 237, 237);
  height: 9rem;
}

.profile-edit-button {
  float: right;
  padding-top: 30%;
}

.profile-key-div {
  padding-left: 8%;
  padding-top: 4%;
}

.profile-key-col {
  font-weight: 700;
}

.profile-active {
  color: green;
}

.profile-inactive {
  color: red;
}

.profile-edit {
  padding-left: 10%;
  padding-top: 2%;
  font-size: large;
}

.card-edit {
  background-color: rgb(248, 248, 248);
}

.profile-edit-row {
  padding-top: 2%;
}

.profile-key-col-edit {
  font-weight: 700;
  padding-left: 25%;
}

.profile-file-upload {
  color: blue;
  padding-top: 2%;
}

.profile-edit-footer {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

/* .profile-edit-submit {
  padding-left: 5%;
} */

.profile-edit-cancel {
  padding-left: 3%;
}

.profile-edit-title-name {
  display: flex;
}

.profile-edit-title {
  width: 50%;
}

.profile-edit-name {
  padding-left: 5%;
}

.profile-img-edit {
  padding-left: 15%;
  width: 75%;
}

.user-address-container-div {
  width: 90%;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.user-address-card-item {
  background-color: rgb(245, 245, 245);
  padding: 2%;
  border-radius: 1.5%;
}

.user-address-container-header {
  margin-top: 2%;
  font-size: xx-large;
  font-weight: 600;
}

.user-address-unavail-error {
  color: red;
  margin-bottom: 2%;
}

.add-address-container {
  padding-top: 2%;
  width: 70%;
}

.add-address-heading {
  font-size: x-large;
}

.add-address-row {
  padding-top: 1%;
}

.user-address-card-col {
  padding: 1%;
}

.add-address-input-text {
  width: 185%;
}

.add-address-pincode {
  width: 80%;
}

.add-address-dropdown-field {
  width: 80%;
}

.add-address-phone-field {
  width: 50%;
}

.user-address-card-footer-deliver-btn {
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-address-card-footer-manage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-address-card-edit-btn {
  margin-right: 0.5%;
}

.add-address-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-address-save-success {
  padding-top: 2%;
}

.add-address-successproceed-btn {
  display: flex;
  justify-content: right;
  padding-right: 5%;
  align-items: center;
}

.warn {
  color: rgb(219, 88, 99);
}


@media screen and (max-width: 960px) {
  .add-address-input-text{
    width: 80%
  }

  .add-address-phonenumber{
    width: 20%;
  }

  .add-address-pincode {
    width: 80%;
  }
  
  .add-address-dropdown-field {
    width: 80%;
  }  

  .add-address-col{
    padding-top: 2%;
    padding-bottom: 2%;
  }
}