.container-cartitem {
  background-color: rgb(245, 245, 245);
  border-radius: 2%;
  width: 70%;
  margin-left: 4%;
  margin-top: 5%;
}

.cart-title {
  padding-top: 2%;
  font-size: x-large;
  font-weight: 600;
}

.cart-item-header {
  font-size: large;  
  padding-right: 8%;
  text-align: center;
}

.cart-empty-header {
  padding-top: 3%;
  font-size: large;
}

.cart-item-img-div {
  width: 220px;
  height: 200px;
  text-align: center;
  padding: 15px;
  border: 5px;
  display: flex;
  margin-bottom: 5%;
}

.cart-item-img {
  width: 220px;
  height: 200px;
}

.cart-item-detail-div {
  padding-left: 8%;
  margin-top: 1%;
}

.cart-item-name-div {
  padding-top: 5%;
}

.cart-item-name {
  text-decoration: none;
  font-size: large;
}

.cart-item-name:hover {
  text-decoration: none;
}

.cart-item-instock {
  color: green;
  font-size: medium;
}

.cart-item-outofstock {
  color: red;
}

.cart-item-available-stock {
  font-size: xx-small;
  font-weight: 600;
}

.cart-item-left {
  font-size: smaller;
}

.cart-item-price {
  padding-top: 5%;
  padding-left: 15%;
  text-align: left;
  font-size: large;
}

.cart-item-quantity-select {
  padding-left: 7%;
  padding-top: 5%;
}

.cart-item-quantity {
  display: flex;
}

.cart-item-Quantity-number-input {
  width: 35%;
}

.cart-item-remove {
  padding-top: 5%;
  padding-left: 8%;
}

.cart-item-remove-link {
  text-decoration: none;
  color: rgb(45, 31, 231);
}

.cart-item-remove-link:hover {
  text-decoration: none;
}

.cart-item--seller-verified{
  padding-top: 2%;
  color: green
}

.cart-item-total {
  float: right;
}

.cart-item-total-amount {
  font-size: larger;
  font-weight: 600;  
  padding-left: 2%;
}

.cart-item-total-discount-amount{
  padding-left: 3%;
}

.cart-item-total-discount-amount-rupee{
  color: red;
  font-weight: 600;
}

.cart-item-total-amount-label{
  padding-left: 15%;
}

.cart-item-proceed-btn {
  padding-bottom: 3%;
  height: 10%;
  text-align: right;
  padding-right: 20%;
}

.cart-item-footer {
  display: flex;
  padding-left: 20%;
}

.cart-empty {
  padding-bottom: 5%;
}

.cart-empty-message {
  padding-top: 1%;
  padding-bottom: 3%;
  font-size: medium;
}

.cart-empty-login-link-div {
  padding-top: 1%;
  padding-bottom: 3%;
}

.cart-empty-login-link {
  text-decoration: none;
  font-size: medium;
}

.cart-empty-login-link:hover {
  text-decoration: none;
}

.cart-empty-buy-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.cart-empty-buy-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .cart-item-footer {
    display: flex;
  }
}