.notification-img{    
    width: 1200px;
    padding-left: 25%;
    padding-right: 10%;
    height: 50px;
}

.notification-image-attribution{
    float: right;
    font-size: xx-small;
}

@media only screen and (max-width: 1000px) {
    .notification-img{    
        width: 100%;
        padding-left: 5%;
    }
}

.modal-body-message{
    /* background-color: rgb(42, 145, 201);
    color: white; */
    color: green;
    font-size: large;
    text-align: center;
}

.modal-body-greeting{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    margin: 2%;
}

.modal-body-greeting-img{
    height: 25%;
    width: 25%;
    border-radius: 10%;
}

.text-x-large{
    font-weight: 700;
    font-size: larger
}

.modal-head-title{
    font-weight: 600;
}