.modal-btn-close {
    color: white;
    text-decoration: none;
  }
  
  .modal-btn-close:hover {
    color: white;
    text-decoration: none;
  }
  
  .disabled {
    pointer-events: none;
    cursor: pointer;
  }
  
  .enquiry-userinput{
    padding-top: 1%;
    padding-left: 1%;
  }
  
  .enquiry-label {
    padding-top: 1%;
  }

  .enquiry-readonly-label{
    padding-top: 1%;
    font-weight: 600;
  }
  
  .enquiry-dropdown {
    width: 80%;
    size: 40px;
  }
    
  .enquiry-row {
    padding-bottom: 2%;
    font-size: large;
  }

  .enquiry-login-request {
    background-color: rgba(95, 94, 94, 0.123);
    border-radius: 2.5%;
    width: 80%;
    padding: 2%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
.enquiry-dropdown-field {
    width: 40%;
  }
  
  .enquiry-name-field {
    width: 60%;
  }
  
  .enquiry-description-field {
    width: 90%;
  }
  
  .enquiry-numericfield {
    width: 20%;
  }
    
  .enquiry-pininput-field {
    width: 20%;
    padding-left: 1%;
  }
  
  .enquiry-submitbutton {
    padding-left: 1%;
  }

  
.enquiry-header {
    padding-top: 1%;
    font-size: x-large;
  }
    
  .enquiry-login-link-div {
    padding: 3%;
    padding-bottom: 10%;
  }
  
  .enquiry-login-link {
    text-decoration: none;
    font-size: medium;
  }
  
  .enquiry-login-link:hover {
    text-decoration: none;
  }
  
  .page-title{
    font-size: x-large;
    font-weight: 600;
    padding-top: 7%;
  }

  .page-title-with-border-space{
    font-size: x-large;
    font-weight: 600;
    padding: 2%;
  }
  

  @media screen and (max-width: 960px) {
    .enquiry-dropdown {
      width: 160%;
    }
  
    .enquiry-dropdown-field {
      padding-bottom: 2%;
      padding-left: 5%;
    }
  
    .enquiry-name-field{
      width: 90%;
      padding-bottom: 2%;
      padding-left: 5%;
    }
  
    .enquiry-numericfield{
      width: 45%;
      padding-bottom: 2%;
      padding-left: 10%;
    }
  }