.vet-products-heading {
  padding-left: 2%;
  padding-top: 3%;
  width: 90%;
  font-size: large;
  font-weight: 600;
}

.vet-product-container {
  width: 70%;
  padding-left: 2%;
  padding-top: 2%;
}

.vet-product-heading {
  font-size: x-large;
  font-weight: 600;
}

.vet-product-message-content {
  font-size: medium;
  padding-left: 0.5%;
  padding-bottom: 2%;
}

.vet-product-card-list {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 5%;
}

.vet-product-item-card {
  padding-left: 5%;
  width: 100%;
}

.vet-product-item-name {
  text-decoration: none;
  font-size: larger;
}

.vet-product-item-name:hover {
  text-decoration: none;
  transform: translateY(-10px);
}

.help-link {
  text-decoration: none;
  font-size: medium;
}

.help-link:hover {
  text-decoration: none;
}

.vet-product-category-header {
  font-size: large;
  float: right;
}

.vet-product-delivery-detail-div {
  padding-top: 2%;
  width: 20%;
}
.vet-product-delivered {
  color: green;
  font-weight: 700;
}

.vet-product-item-card-text {
  display: flex;
}

.vet-product-img-div {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 15px;
  border: 3px;
  display: flex;
}

.vet-product-total-div {
  margin-top: 5%;
  margin-left: 5%;
  font-size: larger;
}

.vet-product-list-detail {
  padding-left: 3%;
  margin-top: 5%;
}

.vet-product-list-sold {
  color: red;
  font-weight: 600;
}

.vet-product-list-sold-stock-message {
  font-size: smaller;
}

.vet-product-order-status {
  margin-top: 5%;
  padding-left: 3%;
  display: flex;
}

.vet-product-admin-changes{
  padding-top: 1%;
}

.vet-product-admin-changes-heading{
  font-size: large;
  font-weight: 500;
}

.vet-product-order-status-detail {
  padding-left: 2%;
  font-weight: 600;
}

.vet-product-admin-change-row{
  display: flex;
}


.vet-product-admin-change-row-detail{
  padding-left: 2%;
  font-weight: 600;
}

.vet-product-delivery-address {
  font-weight: 500;
  padding-left: 5%;
}

.vet-product-delivery-address-heading {
  font-size: medium;
  font-weight: 700;
}

.vet-product-delivery-address-type {
  font-weight: 800;
}

.vet-product-message {
  margin-bottom: 15%;
}

.vet-product-empty-header {
  padding-top: 1%;
  font-size: x-large;
}

.vet-product-empty-message {
  padding-top: 1%;
  padding-bottom: 10%;
  font-size: medium;
}

.vet-product-empty-buy-link {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.vet-product-empty-buy-link:hover {
  text-decoration: none;
}

.vet-product-empty-login-link-div {
  padding: 3%;
  padding-bottom: 10%;
}

.vet-product-empty-login-link {
  text-decoration: none;
  font-size: medium;
}

.vet-product-empty-login-link:hover {
  text-decoration: none;
}
