
.navbar-head{
  background-image: url('http://localhost:3000/Nav_bg.jpg');
}

.navbar-brand-title{
  font-size: x-large;
  font-weight: bolder;
}
.nav-anchor-link {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  display: flex; 
  align-items: center;  
}

.nav-anchor-link:hover {
  transform: translateY(5px);
  text-decoration: none;
  border-bottom: #fff;
  color: blue;
}

.text-dark{
  font-weight: 1000;
}

.text-dark:hover{
  transform: translateY(5px);
}

.collasible-nav-dropdown{
  margin-top: 3%;
  margin-left: -1%;
  font-weight: 1000;
  font-size: larger;
}

/* new */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

.nav-splitter{
  display: block;
}

@media (min-width: 570px) {
  html {
    font-size: 16px;      
  }
  
  .nav-anchor-link {
    text-decoration: none;
    margin-top: 10%;
    color: black;
    font-weight: 1000;
    display: flex; 
    align-items: center;
  }

  .collasible-nav-dropdown{
    margin-top: 4%; 
    font-weight: 1000;
    size: "sm";   
    text-decoration: none;
  }

  .nav-splitter{
    display: none;
  }
  
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
