.custom-control-label {
  font-weight: 400;
  padding-left: 6%;
}

.sign-in-phone {
  width: 20rem;
}

.sign-in-password-field {
  width: 65%;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.sign-in-footer{
  width: 100%;
}

.sign-in-forgot-password-link{
text-align: center;
}

.register-text {
  text-align: left;
  font-size: 13px;
  color: #7f7d7d;
}

.sign-in-usertype {
  padding-left: 2%;
}

.signin-text {
  text-align: right;
  font-size: 13px;
  color: #7f7d7d;
}

.cancel-text {
  text-align: right;
  font-size: 13px;
  color: #7f7d7d;
}

.sign-in-display-inline{
  display: flex;
}

.user-reg-name-field {
  padding-left: 1rem;
  width: 50%;
}

.user-reg-degree-field{
  padding-left: 2%;
  width: 30%;
}

.user-reg-title-field {
  width: 6rem;
}

.user-reg-password-field{
  width: 105%;
}

.user-reg-referral-code{
  padding-left: 6%;
}

.user-reg-referral-code-input{
  width: 70%;
}

.user-reg-pan-number{
  margin-top: 2%;
  width: 50%;
}

.user-reg-div-mobile-otp{
  width: 50%;
  margin-left: 5%;
}

.user-ref-referral-code-prompt{
  text-decoration: none;
}

.user-ref-referral-code-prompt:hover {
  text-decoration: none;
  color: black;
}

.user-reg-error-message {
  color: #ff0000bf;
  font-size: 0.7rem;
  border: 1px solid;
  padding: 1rem;
  border-radius: 10px;
}

.error {
  color: red;
}

.error-backend {
  color: red;
  justify-content: center;
  font-size: larger;
  padding-left: 5%;
}

.logout-redirect-button {
  text-decoration: none;
  color: black;
}

.logout-redirect-butto :hover {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .sign-in-usertype {
    padding-left: 0%;
  }
}