
.thread-heading{
    margin-inline: 5%;
    font-size: x-large;
    text-align: left;
    font-weight: 600;
}

.thread-homeTitle {
text-align: justify;
font-size: large;
font-weight: 600;
margin-top: 5%;
margin-left: 3%;
}

.thread-container-main{
    /* background-color: rgb(245, 245, 245); */
    border-radius: 2%;
    margin-bottom: 1%;
}

.thread-new-content-submit{
    text-align: center;
}

.thread-new-content-label{
    font-size: large;
	text-align: left;
}

.thread-listTitle{
    text-align: center;
font-size: large;
font-weight: 600;
margin-top: 3%;
}
.thread-new-content-text-input{
    
}

.span-warning-message{
	font-size: smaller;
	margin-top: 30%;
	text-align: left;
}

input {
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 15px;
}
a {
	text-decoration: none;
}
.register,
.login,
.home,
.replies,
.modal {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 30px;
}
.registerTitle,
.loginTitle,
.homeTitle,
.repliesTitle {
	margin-bottom: 30px;
}
.registerForm,
.loginForm {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.registerBtn,
.loginBtn,
.homeBtn,
.modalBtn {
	display: block;
	width: 150px;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold;
	color: #fffbf5;
	background-color: #674188;
	margin-bottom: 15px;
}
.homeForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 30px;
}
.home__container {
	display: flex;
	flex-direction: column;
	width: 75%;
}
.homeBtn {
	margin-bottom: 0px;
}
.thread__container {
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: .5%;
}

.reply__container{
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	padding: .5%;
}

.thread__item {
	padding: 1%;
	width: 100%;
	box-shadow: 0 0 1px 1px #c3acd0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.thread__item a {
	font-weight: 600;
	text-decoration: none;
	color: black;
}

.thread-back{
	text-decoration: none;
}

.reply__item label{
	font-weight: 500;
}

.reply__item {
	padding: 1%;
	width: 110%;
	box-shadow: 0 0 1px 1px #c3acd0;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5%;
}

.reply_replyby{
	text-align: right;
	margin-right: 5%;
	margin-bottom: 2%;
	color: grey;
	font-size: smaller;
}

.likes__container {
	display: flex;
	align-items: center;
	margin-right: 15px;
}
.likesBtn {
	height: 30px;
	color: #f99417;
	cursor: pointer;
}
.react__container {
	display: flex;
	align-items: center;
}


@media (min-width: 570px) {
	
	.thread__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding: 20px;
	}

	.thread__item {
		width: 80%;
	}

	.reply__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding: 20px;
	}

	.reply__item {
		padding: 1%;
		width: 80%;
		box-shadow: 0 0 1px 0.5px #c3acd0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.likes__container {
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.likesBtn {
	height: 30px;
	color: #f99417;
	cursor: pointer;
}
.react__container {
	display: flex;
	align-items: center;
}
}