*{
  margin: 0;
  padding: 0;
  font-size: small;
  box-sizing: border-box;
  font-family: 'Poppins'; 
   /* font-family: "montserrat", "Roboto Condensed", sans-serif; */
}

html, body {
  height: 100%;
  width: 100%;
}

/* new landing page design */

.header-xlg{
  font-weight: 600;
  font-size: 80px;
}

.header-lg{
  font-weight: 600;
  font-size: 40px;
}

.header-sm{
  font-weight: 600;
  font-size: 24px;
}

.header-xxsm{
  font-weight: 600;
  font-size: 22px;
}

.header-xsm{
  font-weight: 600;
  font-size: 18px;
}

.header-xs{
  font-weight: 600;
  font-size: 16px;
}

.header-xxs{
  font-weight: 600;
  font-size: 12px;
}

.header-xxxs{
  font-weight: 800;
  font-size: 10px;
}

.sub-header-lg{
  font-weight: 300;
  font-size: 40px;
}

.sub-header-sm{
  font-weight: 300;
  font-size: 36px;
}

.sub-header-xs{
  font-weight: 400;
  font-size: 36px;
}

.sub-header-xxs{
  font-weight: 300;
  font-size: 12px;
}

.sub-header-xxxs{
  font-weight: 400;
  font-size: 10px;
}

.footer{
  font-weight: 300;
  font-size: 20px;
}

.bgcolor-primary-pink{
  background-color: #f7c1de;
}

.bg-color-brown{
  background-color: #b16830;
}

.bgcolor-primary-light-brown{
  background-color: #eba96f;
}


.bgcolor-primary-mid-light-brown{
  background-color: #d89961;
}

.bgcolor-primary-very-mid-light-brown{
  background-color: #e9c09c;
}

.bgcolor-primary-lighter-brown{
  background-color: #f6d6ba;
}

.bgcolor-primary-sandal{
  background-color: #ebe19c;
}

.bgcolor-primary-pista{
  background-color: #c6d673;
}

.bgcolor-primary-brown{
  background-color: #bb7843;
}

.bgcolor-neutral-black{
  background-color: #000000;
}

.bgcolor-neutral-white{
  background-color: #ffffff;
}

.bgcolor-neutral-grey{
  background-color: #efefee;
}

.bgcolor-bg-line-blue{
  background-color: #022872;
}

.bgcolor-bg-line-yellow{
  background-color: #ffc700;
}

.bgcolor-bg-line-grey{
  background-color: #d9d9d9;
}

.bgcolor-bg-line-purple{
  background-color: #8a007c;
}

.bgcolor-bg-line-brown{
  background-color: #460303;
}

.bgcolor-bg-line-green{
  background-color: #0d5a06;
}

.color-black{
  color: black;
}

.color-white{
  color: white;
}

.color-green{
  color: #0d5a06;
}

.color-brown{
  color: #b16830;
}

.text-align-center{
  text-align: center;
}

.text-align-justify{
  text-align: justify;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

.align-items-left{
  align-items: left;
}

.align-items-center{
  align-items: center;
}

.align-items-right{
  align-items: right;
}

.icon-size-sm-x{
  height: 45px;
  width: 85px;
}

.icon-size-sm-x{
  height: 45px;
  width: 85px;
}

.icon-size-sm{
  height: 35px;
  width: 40px;
}

.icon-size-xs{
  height: 25px;
  width: 30px;
}

.icon-size-xxs{
  height: 20px;
  width: 20px;
}

.icon-size-xxxs{
  height: 2px;
  width: 1px;
}

.icon-size-heading{
  height: 30px;
  width: 100px;
}


.img-size-170-110{
  height: 110px;
  width: 170px;
}

.img-size-farm-animals{
height: 390px;
width: 500px;
}

.img-size-farm-animals-usertestimonial{
  height: 290px;
  width: 500px;
  }

.img-size-list-box{
  height: 240px;
  width: 240px;
}

.img-size-service-mobile{
  height: 170px;
  width: 240px;
}

.img-size-list-box-mobile{
  height: 123px;
  width: 120px;
}

.img-size-bannercattle-mobile{
  height: 190px;
  width: 770px;
}

.img-size-bannerpet-mobile{
  height: 140px;
  width: 140px;
}

.img-border-25{
  border-radius: 25px;
}

.img-border-6{
  border-radius: 6px;
}

.display-inline{
display: flex;
}

.display-down{
  display: inline;
  }

.padding-7-5{
  padding-block: 7%;
  padding-inline: 5%;
}

.padding-7{
  padding-block: 7%;
}

.padding-top-25{
  padding-top: 25%;
}

.padding-top-12{
  padding-top: 12%;
}

.padding-top-10{
  padding-top: 10%;
}

.padding-top-7{
  padding-top: 7%;
}

.padding-top-5{
  padding-top: 5%;
}

.padding-top-3{
  padding-top: 3%;
}

.padding-top-2{
  padding-top: 2%;
}

.padding-top-1{
  padding-top: 1%;
}

.padding-bottom-1{
  padding-bottom:1%;
}

.padding-left-1{
  padding-left: 1%;
}

.padding-left-2{
  padding-left: 2%;
}

.padding-left-5{
  padding-left: 5%;
}

.padding-left-10{
  padding-left: 10%;
}

.padding-right-1{
  padding-left: -500px;
}

.padding-right-5{
  padding-left: 5%;
}

.align-items-bottom {
  display: inline-block;
  align-self: flex-end;
}

.margin-top-10{
  margin-top: 10%;
}

.text-decor-none{
  text-decoration: none;
}

.text-decor-none-onhover,
.text-decor-none-onhover:hover{
  text-decoration: none;
}

.height-45{
height: 45px;
}

.height-160{
  height: 160px;
  width: 100%;
}

.height-180{
  height: 180px;
}

.height-280{
  height: 280px;
}

.height-310{
  height: 310px;
}

.height-350{
  height: 350px;
}

.width-500{
  width: 500%;
}

.width-20px{
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.position-abs-bottom-minus-110{
  position: absolute;
  right: 10px;
  bottom: -110px;
}

.position-abs-bottom-minus-150{
  position: absolute;
  right: 45px;
  bottom: -60px;
}

.position-abs-bottom-5{
  position: absolute;
  bottom: 5px;
}

.pill-button{
  border: none;
  color: black;
  padding-left: 10%;
  padding-right: 20%;
  text-align: center;
  text-decoration: none;
  width: 150px;
  height: 45px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 5px 10px 18px #888888;
}

.list-box{
  border: none;
  color: black;
  height: 340px;
  width: 260px;  
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 16px;
}


.list-box-mobile{
  border: none;
  color: black;
  height: 163px;
  width: 143px;
  text-align: center;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
}

.service-box{
  border: none;
  color: black;
  height: 120px;
  width: 200px;  
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.border-change-color{
  border: solid;
  border-color: black;
}

.border-change-color:hover{
  border: solid;
  border-color: #c6d673;
  color: #c6d673;
}

.width-160{
  flex: 2;
}

.border-dashed{
  border-style: dashed;
}

.horizontal-scroll{
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
}

.horizontal-scroll-mobile-only{

}

.button--wrap {
  position: absolute;
  width: 100%;
  padding-left: 37%;
  padding-right: 40%;
  padding-top: 2%;
  overflow: hidden;
}

.button--wrap-banner {
  position: absolute;
  width: 60%;
  padding-left: 16%;
  padding-right: 30%;
  padding-top: 1%;
  overflow: hidden;
}


.button--wrap-box{
  color: white;
  border-radius:  16px;
  padding: 10px 5px;
  text-align: center;
  font-weight: 600;
}

.hide-in-mobile{
  display: block;
}

.hide-in-desktop{
  display: none;
}

.transform-y-5{
  transition: all 1s;
}

.transform-y-5:hover{
  transform: translateY(5px);
  color: #460303;  
  text-decoration: none;
}

.content-div{
  margin-left: 2%;
  margin-right: 3%;
}

@media only screen and (max-width: 960px) {
  .hide-in-mobile{
    display: none;
  }

  .hide-in-desktop{
    display: block;
  }

  .content-div{
    margin: 3%;
  }

  .horizontal-scroll-mobile-only{
    overflow: auto;
    display: flex;
  }

  .padding-top-mobile-7{
    padding-top: 7%;
  }

  .pill-button{
    border: none;
    color: black;
    padding-left: 10%;
    padding-right: 40%;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 45px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .list-box {
    border: none;
    color: black;
    height: 345px;
    width: 260px;
    text-align: center;
    text-decoration: none;
    margin: 20px 40px;
    cursor: pointer;
    border-radius: 16px;
}

.service-box{
  border: none;
  color: black;
  height: 100px;
  width: 120px;  
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 16px;
}


.border-change-color{
  border: solid;
  border-color: black;
}

.border-change-color:hover{
  border: solid;
  border-color: #c6d673;
  color: #c6d673;
}


  .button--wrap {
    position: absolute;
    width: 100%;
    padding-left: 16%;
    padding-right: 30%;
    padding-top: 3%;
    overflow: hidden;
  }

  .button--wrap-box{
    background-color: #b16830;
    color: white;
    border-radius:  16px;
    padding: 10px 10px;
    font-weight: 600;
  }

  .padding-top-3-mobile{
    padding-top: 3%;
  }

}

/* new landing page design end */

.title {
  color: rgb(4, 71, 4);
  font-size: x-large;
  margin-left: 5%;
  font-weight: 600;
}

.homepage-section {
  margin-top: 3%;
  width: 100%;
  height: 350px;
}

.homepage-section-unlimted-height {
  margin-top: 3%;
  width: 100%;
}

.error-msg {
  color: red;
}

.disabledCursor {
  pointer-events: none;
}

.img-greyscale{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* .loader {
  margin-top: 10%;
  margin-left: 45%;
  margin-bottom: 13%;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #4f61cc, 12.72984px -12.72984px 0 0 #4f61cc,
    18px 0 0 0 #4f61cc, 12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0),
    0 18px 0 0 rgba(152, 128, 255, 0),
    -12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0),
    -18px 0 0 0 rgba(152, 128, 255, 0),
    -12.72984px -12.72984px 0 0 rgba(152, 128, 255, 0);
  animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #2c43c2, 12.72984px -12.72984px 0 0 #4f61cc,
      18px 0 0 0 #4f61cc, 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 0 #4f61cc, 18px 0 0 0 #4f61cc,
      12.72984px 12.72984px 0 0 #4f61cc, 0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #4f61cc,
      12.72984px 12.72984px 0 0 #4f61cc, 0 18px 0 0 #4f61cc,
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 #4f61cc,
      0 18px 0 0 #4f61cc, -12.72984px 12.72984px 0 0 #4f61cc,
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #4f61cc,
      -12.72984px 12.72984px 0 0 #4f61cc, -18px 0 0 0 #4f61cc,
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 #4f61cc,
      -18px 0 0 0 #4f61cc, -12.72984px -12.72984px 0 0 #4f61cc;
  }
  75% {
    box-shadow: 0 -18px 0 0 #4f61cc,
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #4f61cc,
      -12.72984px -12.72984px 0 0 #4f61cc;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #4f61cc, 12.72984px -12.72984px 0 0 #4f61cc,
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 #4f61cc;
  }
} */

.loader {
  color: #589e67;
  font-size: 20px;
  margin: 100px auto;
  margin-top: 10%;
  margin-bottom: 15%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  font-size: 20px;
  margin: 100px auto;
  margin-top: 20%;
  margin-bottom: 20%;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3b8145; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
