.filter_wrapper {
    position: relative;
    text-align: end;
    margin-right: 5%;
}
   .filter_button {
    border-radius: 5px;
    padding: 8px 26px;
    background-color: #408aeb;
    cursor: pointer;
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 1.5;
   }
   .filter_button:hover {
    background-color: #092b58;
   }
   .filter_button:focus {
    outline: 1px dashed;
    outline: 1px auto -webkit-focus-ring-color;
   }

   .filter-label{
    font-weight: 500;
    padding-left: 5%;
   }

   /* modal component */

   .modal_wrapper {
    display: block;
    background-color: transparent;
   }
    
    
   /* @media (min-width: 768px) {
    .modal_wrapper {
      display: none;
    }
   } */
    
   .modal_container {
    z-index: 60;
    display: flex;
    background-color: white;
    right: 0;
    flex-direction: column;
    position: fixed;
    top: 5px;
   }
    
   .modal_header {
    padding: 20px 12px;
    border-bottom-color: #e4e6eb;
    display: flex;
    border-bottom-width: 10px;
   }
    
   .modal_content {
    display: flex;
   }
    
   .modal_actions {
    display: flex;
    align-items: center;
    border-top-width: 3px;
    justify-content: flex-end;
    margin-top: 5px;
    border-top-color: #e4e7eb;
    padding: 8px;
   }
    
   .modal_actions button {
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 8px;
    cursor: pointer;
    background-color: #2b7de9;
    width: auto;
    color: white;
   }

   /* Card Items */

   .buy-list-category-item {
    height: 40px;
  }
  .buy-list-carditem-box {
    height: 2%;
    margin-right: 0%;
    overflow: auto;
    display: flex;
  }
  
  @media only screen and (max-width: 320px) {
    .buy-list-box {
      width: 10px;
      height: 10px;
      background: #e5e4e2;
      float: left;
      margin: 6%;
      box-sizing: border-box;
      border-style: solid;
      border-color: #fff;
      border-radius: 15%;
      transition: 0.5s ease;
      -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    }
    .buy-list-carditem-box .buy-list-box .content-morethan4letterOneliner h3 {
      position: absolute;
      text-align: center;
      top: 30%;
      left: 3%;
      color: rgb(0, 0, 0);
    }
  }
  
  @media only screen and (min-width: 360px) {
    .buy-list-box {
      width: 50px;
      height: 50px;
      background: #e5e4e2;
      float: left;
      margin: 6%;
      box-sizing: border-box;
      border-style: solid;
      border-color: #fff;
      border-radius: 15%;
      transition: 0.5s ease;
      -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    }
    .buy-list-carditem-box .buy-list-box .content-morethan4letterOneliner h3 {
      position: absolute;
      text-align: center;
      top: 30%;
      left: 3%;
      color: rgb(0, 0, 0);
    }
  }
  @media only screen and (min-width: 425px) {
    .buy-list-box {
      width: 50px;
      height: 50px;
      background: #e5e4e2;
      float: left;
      margin: 6%;
      box-sizing: border-box;
      border-style: solid;
      border-color: #fff;
      border-radius: 15%;
      transition: 0.5s ease;
      -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    }
    .buy-list-carditem-box .buy-list-box .content-morethan4letterOneliner h3 {
      position: absolute;
      text-align: center;
      top: 30%;
      left: 3%;
      color: rgb(0, 0, 0);
    }
  }
  @media only screen and (min-width: 760px) {
    .buy-list-box {
      width: 50px;
      height: 50px;
      background: #e5e4e2;
      float: left;
      margin: 2%;
      box-sizing: border-box;
      border-style: solid;
      border-color: #fff;
      border-radius: 15%;
      transition: 0.5s ease;
      -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    }

    .buy-list-carditem-box .buy-list-box .content-morethan4letterOneliner h3 {
      position: absolute;
      text-align: center;
      top: 30%;
      left: 3%;
      color: rgb(0, 0, 0);
    }
  }
  @media only screen and (min-width: 1000px) {
    .buy-list-box {
      width: 50px;
      height: 50px;
      background: #e5e4e2;
      float: left;
      margin: 4%;
      box-sizing: border-box;
      border-style: solid;
      border-color: #fff;
      border-radius: 15%;
      transition: 0.5s ease;
      -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    }

    .buy-list-carditem-box .buy-list-box .content-morethan4letterOneliner h3 {
      position: absolute;
      text-align: center;
      top: 30%;
      left: 3%;
      color: rgb(0, 0, 0);
    }
  }
  @media only screen and (min-width: 1400px) {
    .buy-list-box {
      width: 50px;
      height: 50px;
      background: #e5e4e2;
      float: left;
      margin: 5%;
      box-sizing: border-box;
      border-style: solid;
      border-color: #fff;
      border-radius: 15%;
      transition: 0.5s ease;
      -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));      
    }
  
    .buy-list-carditem-box .buy-list-box .content-morethan4letterOneliner h3 {
      position: absolute;
      text-align: center;
      top: 40%;
      left: 3%;
      color: rgb(0, 0, 0);
    }
  }
  
  
  .buy-list-carditem-box .buy-list-box .icon img {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
  }
  .buy-list-carditem-box .buy-list-box .content h3 {
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 30%;
    color: rgb(0, 0, 0);
  }
  .buy-list-carditem-box .buy-list-box .content-3letter h3 {
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 30%;
    color: rgb(0, 0, 0);
  }
  
  .buy-list-carditem-box .buy-list-box .content-4letter h3 {
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 30%;
    color: rgb(0, 0, 0);
  }
  
  .buy-list-carditem-box .buy-list-box .content-morethan4letter h3 {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 2%;
    color: rgb(0, 0, 0);
  }
  
  .buy-list-carditem-box .buy-list-box:hover {
    background-color: green;
    transform: scale(1.08);
  }
  
  .buy-list-carditem-box .buy-list-box:hover .content h3,
  .buy-list-carditem-box .buy-list-box:hover .content-3letter h3,
  .buy-list-carditem-box .buy-list-box:hover .content-4letter h3,
  .buy-list-carditem-box .buy-list-box:hover .content-morethan4letter h3 {
    color: white;
  }
  