.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 0;
  border-radius: 10px;
}

.button {
  float: right;
  margin-left: 900px;
  font-size: medium;
  text-decoration: none;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic--wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards_item_pic--wrap-verifiedseller {
  position: relative;
  width: 100%;
  padding-left: 60%;
  padding-right: 9%;  
  padding-top: 5%;
  overflow: hidden;
}

.cards_item_pic--wrap-verifiedseller-box{
  background-color: #ffffff;
  border-radius: 10%;
  padding-right: 5%;
  padding-left: 2%;
  font-size: x-small;
}


.cards_item_pic--wrap-sold-box::after{
  border-radius: 10%;
  transform: skewY(-20deg);
  content: attr(is-sold);
  position: absolute;
  top: 40%;
  margin-left: 26%;
  padding: 2px 8px;
  max-width: calc((100%) - 0px);
  font-size: x-large;
  font-weight: 600;
  color: #fff;
  background-color: rgba(204, 41, 41, 0.81);
  box-sizing: border-box;
  border-radius: 20%;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic--wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 3%;
  margin-left: 10px;
  padding: 2px 8px;
  max-width: calc((100%) - 60px);
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #0d601a;
  box-sizing: border-box;
  border-radius: 20%;
  font-family: Verdana;
}
.cards_item_pic--wrap--pregnant::after {
  content: attr(is-pregnant);
  position: absolute;
  top: 3%;
  margin-left: 10px;
  padding: 2px 5px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 100;
  color: #0d601a;
  background-color: #ffe77a;
  box-sizing: border-box;
  border-radius: 20%;
  font-family: Verdana;
}
.cards_item_pic--wrap--new::after {
  content: attr(is-new);
  position: absolute;
  top: 40px;
  margin-left: 10px;
  padding: 2px 5px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 100;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 20%;
  font-family: Verdana;
}

.cards_item_pic--wrap--new--enquiry::after {
  content: attr(is-new);
  position: absolute;
  top: 10px;
  margin-left: 160px;
  padding: 2px 5px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 100;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 20%;
  font-family: Verdana;
}

.cards_item_pic--wrap-verifiedseller::after {
  position: absolute;
  top: 40px;
  left: 25px;
  background-color: #ce0b0b;
  box-sizing: border-box;
  border-radius: 20%;
  align-content: center;
  font-weight: 400;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__link:hover {
  text-decoration: none;
}

.cards__item__info {
  margin-left: 2%;
  border-color: #0d601a;
}

.cards__item__name {
  color: #252e48;
  font-weight: 1000;
  font-size: 15px;
}

.cards__item__text {
  color: #252e48;
  font-size: 13px;
}

.cards__item__about {
  color: #252e48;
  font-size: 13px;
}

.cards__item__vetcheck{
  padding-right: 2%;
  font-size: 12px;
  display: inline;
  float: right;
}

.cards__item__gender_milkproduce {
  color: #252e48;
  font-size: 13px;
  display: inline;
}

.cards__item__originalprice {
  color: #252e48;
  padding-right: 2%;
  font-size: 12px;
  text-decoration: line-through;
  display: inline;
  float: right;
}

.detail_originalprice {
  padding-left: 2%;
  text-decoration: line-through;
}

.detail_offerpercent{
  padding-left: 2%;
  font-weight: 600;
  color: #0d601a;
}

.btn-addtocart {
  float: left;
  display: flex;
  padding-left: 2%;
  height: 10%;
  width: 70%;
}

.detail_discountprice {
  color: red;
}

.cards__item__discountprice {
  color: red;
  font-size: 15px;
  padding-right: 2%;
  display: inline;
  float: right;
}

.product-list-empty {
  background-color: rgba(95, 94, 94, 0.123);
  border-radius: 2.5%;
  width: 80%;
  padding: 2%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.product-list-empty-heading {
  font-size: large;
}

.product-detail-name {
  font-size: xx-large;
  padding-left: 2%;
}

.product-detail-title {
  font-size: larger;
}

.product-detail-btn {
  height: 10%;
}

.modal-success {
  color: #296931;
}

.modal-failure {
  color: rgb(228, 92, 92);
}

.modal-message-title {
  font-size: x-large;
  font-weight: 600;
}

.modal-message-content {
  font-size: medium;
}

.span-one {
  margin-left: 1%;
  display: flex;
}

/* .product-detail-imagegallery {
  height: 350px;
} */

.carousel .thumb img {
  width: 100%;
  height: 100%;
  
}

.carousel .slide img {
  height: 150%;
  width: 150%;
}


.product-detail-vetcheck {
  font-size: small;
  padding-left: 2%;
  color: rgb(78, 162, 211);
}

.product-detail-vet-check-yet-to-done {
  color: rgb(19, 110, 214);
  margin-bottom: 5%;
}

.product-detail-vet-check-yet-to-done-submit{
  padding-top: 2%;
  padding-bottom: 2%;
}

.product-detail-vet-check-done{
  margin-bottom: 5%;
  margin-top: 5%;
}

.product-detail-vet-check-back-link{
  text-decoration: none;
  color: blue;
  font-size: large;
  padding-left: 00.5%;
}

.product-detail-vet-check-back-link:hover{
  text-decoration: none;
}

.product-detail-vaccination-yet-to-done {
  color: rgb(19, 110, 214);
  margin-bottom: 5%;
}

.product-detail-stock-info {
  padding-left: 2%;
}

.product-detail-seller {
  padding-left: 5%;
  font-size: medium;
}

.product-detail-seller-verified{  
  padding-left: 2%;
  color: rgb(80, 80, 220);
}

.product-detail-verif-row{
  padding-bottom: 5%;
  padding-left: 2%;
}

.product-detail-verf{
  padding-left: 3%;
}

.product-detail-verify-success{
  color: green;
}

.product-detail-verify-fail{
  color: red;
}

.product-detail-verf-comment-label{
  padding-top: 2%;
}

.product-detail-verf-comment{
  padding-left: 2%;
  width: 100%;
}

.product-detail-verf-comment-error{
  color: #ce0b0b;
  padding-left: 2%;
}

.product-detail-seller-phone {
  color: rgb(37, 139, 77);
}

.product-unavailable-seller-admin-phone{
  font-weight: 600;
  color: green;
  height: 120%;
}

.product-seller-phone-whatsapp {
  font-size: x-large;
}

.product-detail-seller-phone-number {
  text-align: justify;
}

.product-detail-freedelivery {
  padding-right: 1%;
  font-size: large;
  font-weight: 800;
  color: goldenrod;
}

.product-detail-instock {
  color: #0d601a;
  font-size: larger;
}

.product-detail-outofstock {
  color: red;
  font-size: large;
}

.product-detail-min-stock {
  font-size: smaller;
}

.product-detail-min-stock .product-detail-available-stock {
  font-size: xx-small;
  font-weight: 600;
}

.product-detail-display-inline {
  display: flex;
}

.product-detail-quantity {
  font-size: medium;
  padding-right: 1%;
}

.product-detail-label{
  font-weight: 600;
}

.product-detail-numericfield{
width: 80px;
padding-bottom: 2%;
}

.product-detail-recommended-price{
  font-weight: 600;
  padding-top: 1%;
}

.product-detail-calculate-recommend-price{
  padding-left: 1.5%;
}

.product-detail-quantity-value {
  width: 80px;
  padding-bottom: 2%;
}

.product-detail-quantity-value-update {
  display: flex;
  width: 80px;
  padding-bottom: 2%;
}

.product-detail-related-products{
  margin-left: 5%;
}

.product-detail-related-products-heading{
  font-size: x-large;
  font-weight: 600;
}

.help-link {
  text-decoration: none;
}

.help-link:hover {
  text-decoration: none;
}

.vet-check-save-error-message {
  color: red;
}

.error {
  color: red;
}

.warn {
  color: rgb(219, 88, 99);
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }

  .cards_item_pic--wrap-verifiedseller {
    position: relative;
    width: 100%;
    padding-left: 60%;
    padding-right: 1%;  
    padding-top: 5%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 960px) {
  .product-detail-vet-check-div{
    padding-top: 5%;
  } 
  
  .cards_item_pic--wrap-verifiedseller {
    position: relative;
    width: 100%;
    padding-left: 60%;
    padding-right: 15%;  
    padding-top: 5%;
    overflow: hidden;
  }
}