.order-invoice-heading{
    text-align: center;
    font-size: large;
}

.order-invoce-detail{
    padding-left: 5%;
}

.order-invoice-bottom-condition{
    font-size: xx-small;
}

.order-invoice-print{
    float: right;
    margin-right: -110%;
}

.order-invoice-close{
    display: none;
}

@media screen and (max-width: 960px) {
    .order-invoice-print{
        float: right;
        margin-right: -40%;
    }

    .order-invoice-close{
        display: block;
        float: right;
        margin-right: -70%;
        text-decoration: none;
        color: black;
    }
}

@media screen and (max-width: 960) {
    .order-invoice-close{
        display: block;
        float: right;
        margin-right: -95%;
        text-decoration: none;
        color: black;
    }
}