.order-container {
  width: 70%;
  padding-left: 2%;
  padding-top: 2%;
}

.place-order-container {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 15%;
}

.place-order-containers {
  display: flex;
}

.place-order-response-div {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  justify-content: center;
}

.order-heading {
  font-size: x-large;
  font-weight: 600;
}

.review-order-heading {
  font-size: x-large;
  font-weight: 600;
}

.review-order-heading-edit-option {
  font-size: small;
  float: right;
  margin-right: 3%;
  margin-top: 4%;
  padding-bottom: 1%;
}

.review-order-heading-edit-link {
  text-decoration: none;
}

.review-order-heading-edit-link:hover {
  text-decoration: none;
  color: black;
}

.order-message-content {
  font-size: medium;
  padding-left: 0.5%;
  padding-bottom: 2%;
}

.order-card-list {
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.order-item-card {
  width: 100%;
}

.order-item-name {
  text-decoration: none;
  font-size: larger;
}

.order-item-verified-seller{
  font-weight: 500;
  color: green;
}


.order-item-name:hover {
  text-decoration: none;
  transform: translateY(-10px);
}

.help-link {
  text-decoration: none;
  font-size: medium;
}

.help-link:hover {
  text-decoration: none;
}

.order-delivered-header {
  color: green;
  font-size: large;
  float: right;
}

.order-inprogress-header {
  color: red;
  font-size: large;
  float: right;
  padding-right: 5%;
}

.order-delivery-detail-div {
  padding-top: 2%;
  width: 20%;
}

.order-delivery-type {
  display: flex;
}

.order-delivered {
  color: green;
  font-weight: 700;
  padding-top: 2%;
}

.order-item-card-text {
  display: flex;
}

.order-img-div {
  width: 180px;
  height: 180px;
  text-align: center;
  padding: 2%;
  border: 5px;
  display: flex;
}

.order-img {
  width: 180px;
  height: 180px;
}

.order-total-div {
  padding: 1%;
  padding-bottom: 2%;
  font-size: x-large;
}

.order-price-detail{
  text-align: center;
}

.order-status-modify-row {
  padding-top: 1%;
}

.order-status-modify-col {
  padding-top: 1%;
}

.order-status-update {
  font-size: medium;
  font-weight: 700;
  padding: 1%;
}

.order-delivery-address {
  font-weight: 500;
  text-align: justify;
}

.order-delivery-address-heading {
  font-size: medium;
  font-weight: 700;
}

.order-delivery-address-type {
  padding-left: 0.5%;
  font-weight: 800;
}

.order-message {
  margin-bottom: 15%;
}

.order-discount-price{
  font-weight: 600;
}

.place-order-title {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 600;
}

.place-order-btn {
  display: flex;
  justify-content: center;
  height: 10%;
}

.place-order-summary-container {
  padding-top: 5%;
}

.place-order-summary-row {
  padding-top: 2%;
}

.place-order-summary-row-total {
  font-size: large;
  font-weight: 700;
}

.place-order-summary-save-total {
  font-size: small;
  text-align: justify;
  color: green;
}

.place-order-col-price {
  text-align: right;
}

.place-order-col-disc-price {
  font-weight: 700;
  text-align: right;
}

.place-order-col-del-price {
  font-weight: 700;
  text-align: right;
  text-decoration: line-through;
}

.place-order-col-free-delivery-message {
  text-align: right;
  color: green;
}

.place-oder-total-discount-amount-rupee{
  padding-left:1%;
  padding-right: 1%;
  color: red;
}

.order-empty-header {
  padding-top: 1%;
  font-size: x-large;
}

.order-empty-message {
  padding-top: 1%;
  padding-bottom: 10%;
  font-size: medium;
}

.order-empty-buy-link {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.order-empty-buy-link:hover {
  text-decoration: none;
}

.order-empty-login-link-div {
  padding: 3%;
  padding-bottom: 10%;
}

.order-empty-login-link {
  text-decoration: none;
  font-size: medium;
}

.order-empty-login-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .place-order-containers {
    display: flex;
    flex-direction: column;
  }  

  .order-container {
    width: 95%;
    margin-left: 2%;
  }

  .place-order-container {
    width: 50%;
    margin-left: 15%;
    margin-bottom: 2%;
  }
}
