.background {
  color: black;
  height: 350px;
}

.center-heading {
  padding-left: 40%;
  padding-top: 10%;
  color: rgb(41, 117, 77);
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: xx-large;
}

.split-line {
  color: rgb(22, 49, 111);
  width: 75%;
  padding-left: 25%;
}

.center-sentence {
  color: rgb(41, 117, 77);
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .center-heading {
    padding-left: 25%;
    padding-top: 70%;
    color: rgb(41, 117, 77);
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 800;
    font-size: xx-large;
  }
  
  .split-line {
    color: rgb(22, 49, 111);
    width: 90%;
    padding-left: 10%;
  }
  
  .center-sentence {
    padding-left: 5%;
    color: rgb(41, 117, 77);
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 800;
    text-align: center;
  }
}